@model ProjectAlpha.Models.UserStudent

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link rel="icon" type="image/png" href="~/image/icons/admin.png" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/SignUp/main.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/SignUp/util.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/AdminLogin/adminLogin.css" rel="stylesheet" />

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-color:slategrey;" );">
                <div class="center box">
                    <h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Thank you for your hardwork and dedication.</h3>
                </div>
            </div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <div style="margin-top:100px; font-family:Calibri">
                    @using (Html.BeginForm("AdminLogin", "Home", FormMethod.Post, new { @class = "login100-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <span class="login100-form-title p-b-59">
                                    Admin Login
                                </span>

                                <div class="wrap-input100">
                                    @Html.TextBoxFor(u => u.Email, new { autocomplete = "off", style = "width:300px", placeholder = "Admin Email" })
                                    @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("UserExistence", new { @class = "text-danger" })



                                    <span class="focus-input100"></span>
                                </div>

                                <div class="wrap-input100">



                                    @Html.PasswordFor(u => u.Password, new { placeholder = "Admin Password", style = "width:300px" })
                                    @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })
                                    @Html.ValidationMessage("PasswordIncorrect", new { @class = "text-danger" })
                                    <span class="focus-input100"></span>
                                </div>




                                <div class="container-login100-form-btn">

                                    <button class="btn btn-success" type="submit">
                                        Login
                                    </button>


                                    <a href="~/home/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                                        Home
                                        <i class="fa fa-long-arrow-right m-l-5"></i>
                                    </a>
                                </div>


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
