@model ProjectAlpha.Models.UserStudent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>SignUp</title>
    <link rel="icon" type="image/png" href="~/Content/Image/Icons/signUp.ico" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/SignUp/main.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet/SignUp/util.css" rel="stylesheet" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('../../Content/Image/AppImage/tobias-tullius-50yZdrpM_ec-unsplash.jpg');" );"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <span>@ViewBag.Message</span>
                <form asp-controller="Home" asp-action="SignUp" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-59">
                        Sign Up
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <span class="label-input100">User Name</span>


                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { autocomplete = "off", @class = "input100", name = "name", placeholder = "Name..." } })


                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="label-input100">Email</span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { autocomplete = "off", @class = "input100", name = "email", placeholder = "Email address..." } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <span class="focus-input100"></span>
                    </div>

                    

                    <div class="wrap-input100">
                        <span class="label-input100">Password</span>
                        @Html.EditorFor(u => u.Password, new { htmlAttributes = new { autocomplete = "off", @class = "input100", placeholder = "*************" } })
                        @Html.ValidationMessageFor(u => u.Password, "", new { @class = "text-danger" })

                        <span class="focus-input100"></span>
                    </div>

                    @* <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                            <span class="label-input100">Repeat Password</span>

                            @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "input100", name = "repeatpass", placeholder = "*************" } )

                            <span class="focus-input100"></span>
                        </div>
                    *@

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Sign Up
                            </button>
                        </div>

                        <a href="~/home/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Login
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/Scripts/signup/main.js"></script>
</body>
</html>
